<!--Ad ogni evento keyup aggiorna la chiave di cifratura-->
<input  (keyup)="setKey(key)" #key/> actual key: {{key.value}}

<hr>

<!--Questa form usa dei radio button con i template driven form di Angular per scegliere l'algoritmo di cifratura-->
<form #myForm="ngForm" (submit)="sendMessage(myForm.value)" novalidate>
    <div>
       <input id="cesar" type="radio" value="cesar" name="messageType" ngModel>
       <label  for="cesar">Cesar</label>
    </div>

    <div>
       <input id="t-des" type="radio" value="t-des" name="messageType" ngModel>
       <label for="t-des">Triple Des</label>
    </div>

    <input type="text" id="message"  [(ngModel)]="message" name="message">

    <button type="submit" >Encrypt</button>
 </form><!-- Form ends -->

 <hr>

<div *ngFor = "let message of messageList">
  {{message}}
</div>
